/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/SourceCodePro/source-code-pro-v14-latin-ext-600.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
/* ubuntu-regular - latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/ubuntu-v15-latin-ext-regular.woff2') format('woff2');
}
/* ubuntu-500 - latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('/fonts/ubuntu-v15-latin-ext-500.woff2') format('woff2');
}
/* ubuntu-700 - latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/ubuntu-v15-latin-ext-700.woff2') format('woff2');
}
/* sriracha-regular - latin-ext */
@font-face {
  font-family: 'Sriracha';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/sriracha-v5-latin-ext-regular.woff2') format('woff2');
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
/* #__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
::selection {
  // background-color: #47a3f3;
  // color: #fefefe;
  @apply bg-blue-700 text-white dark:bg-gray-700 dark:text-gray-200;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  li,
  a {
    @apply text-gray-900 dark:text-gray-200;
  }
  a {
    @apply hover:text-red-400 dark:hover:text-yellow-400  transition duration-300;
  }
  h1 {
    @apply text-4xl md:text-6xl mt-12;
  }
  h2 {
    @apply text-2xl md:text-3xl mt-10;
  }
  h3 {
    @apply text-xl md:text-2xl mt-8;
  }
  h4 {
    @apply text-lg md:text-xl mt-6;
  }
  h5 {
    @apply text-base md:text-lg mt-4;
  }
  h6 {
    @apply text-base md:text-lg mt-4;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold mb-2 text-gray-900 dark:text-gray-200;
  }
  pre {
    @apply text-sm;
  }
  p,
  a,
  div {
    @apply text-lg;
  }
}
// custom scrollbar
::-webkit-scrollbar {
  width: 1.2em;
}
::-webkit-scrollbar-track {
  @apply dark:bg-gray-800 bg-gray-200;
}
::-webkit-scrollbar-thumb {
  @apply dark:bg-gray-700 bg-gray-300;
}
::-webkit-scrollbar-thumb:hover {
  @apply dark:bg-gray-600 bg-gray-400;
}

em {
  font-family: 'Sriracha';
  @apply text-red-500 dark:text-red-400 px-1;
}
@layer components {
  .btn {
    @apply font-bold py-1 sm:py-2 px-4 sm:px-6 text-sm sm:text-base rounded-full border-2 border-red-400 dark:border-yellow-400 text-red-400 dark:text-yellow-400  hover:bg-red-400 dark:hover:bg-yellow-400 hover:text-white dark:hover:text-gray-900 transition duration-300 ease-in-out;
  }
  .btn-sm {
    @apply btn py-1 px-4 text-sm;
  }
  .btn-contained {
    @apply btn bg-red-400 dark:bg-yellow-400 text-white dark:text-gray-800 hover:bg-white dark:hover:bg-gray-900 hover:text-red-400 dark:hover:text-yellow-400;
  }
  .icon {
    @apply p-1 hover:bg-red-100 rounded-full;
  }
}
/* navbar */
.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
  width: 100%;
  @apply border-b border-gray-200 bg-white md:bg-transparent dark:border-gray-800 dark:bg-gray-900;
}
.sticky-nav > div {
  max-width: 54rem;
}
.sticky-nav a {
  @apply dark:hover:text-yellow-400;
}
.skip-nav {
  @apply absolute px-4 py-2 transition-transform duration-200 transform -translate-y-12 left-1/4 focus:translate-y-3 -top-8;
  :focus {
    top: 840px;
  }
}
@-moz-document url-prefix() {
  .sticky-nav {
    @apply bg-white dark:bg-gray-900;
  }
}
.navlinks {
  @apply hidden md:flex;
}

.hamburgerBtn {
  border: 2px solid;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 60;
  @media (min-width: 768px) {
    display: none;
  }
}
.openHamburger {
  visibility: hidden;
  display: none;
}
.closeHamburger {
  visibility: visible;
  display: block;
}
html.dark .hamburgerBtn {
  background-color: #1f2937; // gray-800
  border-color: white;
  .hamburgerPath {
    fill: white;
  }
}
html.light .hamburgerBtn {
  // background-color: #1f2937; // gray-800
  background-color: white;
  border-color: #1f2937;
  .hamburgerPath {
    fill: #1f2937;
  }
}
.closeBtn {
  border: 2px solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: white; // gray-800
  border-color: #1f2937;
  .hamburgerPath {
    fill: #1f2937;
  }
}

.openmenu {
  @apply fixed top-0 left-0 w-screen h-screen flex flex-col gap-4 justify-center items-center py-24 translate-x-0 
   bg-black  bg-opacity-80 dark:bg-black dark:bg-opacity-50 font-bold z-50;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
  a {
    font-size: xx-large !important;
    color: white;
  }
}
@-moz-document url-prefix() {
  .openmenu {
    @apply bg-gray-800 dark:bg-gray-900;
  }
}
// .closemenu {
//   @apply hidden;
// }
/* end of navbar */
.prose {
  @apply text-gray-900 dark:text-gray-100 text-lg;
}
.prose h2 {
  @apply text-red-500 dark:text-yellow-400;
}
.prose h3 {
  @apply text-blue-500 dark:text-purple-400;
}
.prose h4 {
  @apply text-blue-500 dark:text-purple-400;
}
.prose ul {
  @apply pl-4;
}
.prose li {
  @apply my-2;
}
.prose li::before {
  content: '✔';
  @apply pr-4 text-red-500 dark:text-yellow-400;
}
.prose li ul li::before {
  content: '➤';
  @apply pr-4 pl-4 text-red-500 dark:text-yellow-300;
}
.prose a {
  @apply underline text-blue-500 hover:text-blue-400;
}
.prose p a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  padding: 2px;
  &:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(59, 130, 246, var(--tw-text-opacity));
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all ease 0.3s;
    z-index: -1;
  }
  &:hover:after {
    transform: skew(5deg, -5deg) scaleY(8) translateY(-1px);
    transform-origin: center;
  }
  &:hover {
    color: white;
  }
}
.prose p {
  @apply mb-4 leading-loose;
}
.prose strong {
  @apply font-bold;
}

.prose .anchor {
  visibility: hidden;
  display: block;
  position: absolute;
  width: 100%;
  min-width: 300px;
  // height: 100%;
  // background: rgba(1, 1, 1, 0.1);
}

.anchor:hover {
  @apply visible no-underline;
}
.prose h2,
.prose h3,
.prose h4 {
  position: relative;
  scroll-margin-top: 80px;
}
.prose .anchor:before {
  @apply text-gray-300 dark:text-gray-700;
  content: '#   ';
  position: relative;
  right: 20px;
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose pre {
  @apply border border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-800 p-4 my-6 rounded-sm;
}

.prose code {
  @apply text-red-500 dark:text-gray-100 px-0.5 pb-px rounded-sm bg-gray-100 border 
  border-gray-200 dark:border-gray-300 dark:bg-gray-800 text-base;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0 py-4;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-500 dark:text-gray-400;
}

.token.punctuation {
  @apply text-blue-400 dark:text-blue-400;
}
.token.tag {
  @apply text-green-400;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-blue-300;
}
.token.string {
  @apply text-blue-300;
}

.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-400;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-600;
}

.token.atrule,
.token.attr-value {
  @apply text-blue-500;
}
.token.keyword.module,
.token.keyword {
  @apply text-red-500;
}

.token.function,
.token.class-name {
  @apply text-blue-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-blue-900 dark:text-gray-50 leading-6 bg-gray-50 dark:bg-gray-800 text-sm overflow-x-auto;
}
code[class*='language-'] {
  @apply border-none;
}
.prose pre {
  @apply max-w-3xl;
}
.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.mdx-marker {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.metric-card > a {
  @apply no-underline;
}

.metric-card > p {
  @apply my-2;
}

.step > h3 {
  @apply my-0;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}
.prose blockquote {
  display: flex;
  align-items: center;
  @apply mt-2 mb-4 px-2 py-6 rounded-sm border border-red-200 bg-red-50 dark:border-blue-200 dark:bg-blue-100;

  &::before {
    content: '!';
    font-size: 2rem;
    margin-right: 2rem;
    margin-left: 1.5rem;
    @apply text-red-600 dark:text-blue-800 font-bold;
  }
  p,
  a,
  span,
  code,
  pre {
    @apply text-sm py-px px-1 m-0 leading-loose;
  }
  p {
    @apply dark:text-gray-900;
  }
}
.techTag {
  font-size: 12px !important;
}
table {
  display: block;
  overflow-y: scroll;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.opaqueBlurActualImage {
  max-width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 300ms ease;
}
.transparentBlurActualImage {
  max-width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 300ms ease;
}
.divider {
  // content: '';
  width: 100%;
  height: 1px;
  background-color: lightgray;
  margin-top: 1rem;
}

.card-button:hover {
  @apply underline  dark:text-yellow-500 transition duration-1000 ease-in-out;
}
